<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>template</title>
    <link rel="stylesheet" href="../template/templateStyle.css" >
</head>
<body>
    <div class="navBar">
        <img src="../template/images/climate-change-high-resolution-logo-black-transparent.png" alt="Climate change logo" class="logo">
        <ul id="top">
            <li><a id="active" href="">Home</a></li>
            <li><a href="">Gallery</a></li>
            <li><a href="">Shop</a></li>
            <li><a href="">User</a></li>
            <li><a href="">Feedback</a></li>
            <li><a href="">Sitemap</a></li>
            <li><a href="">Team</a></li>
        </ul>
    </div>

    <div class="mainContent" id="topOfPage">
        
    </div>

    <footer>
        <hr>
        <ul>
            <li><a href="">Page Editor</a></li>
            <li><a href="">Email</a></li>
            <li>Last Modified Date: 23<sup>rd</sup> March 2024</li>
        </ul>
        <a href="#topOfPage" class="backToTop">Back to top</a>
    </footer>
</body>
</html>